@import"partials/reset";
@import"partials/header";

.domicilio h2{ 
  background-color: black;
  color: white;
  font-size: 2rem;
  font-family: 'Anton', sans-serif;
  text-align: center;
  
  
  
}
.titulo-instalaciones{
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
  padding: 40px 50px;
  text-decoration: underline;
  
}

.parrafo_especial{
  font-size: 1.3rem;
  color: black;
  font-family: 'Pacifico', cursive;
  
}
@import"partials/nuestra_historia";


 #reservas,#contacto, .titulo_sugerencias, .titulo_pastas, .titulo_carnes, .titulo_mexicana, .titulo_oriental, .titulo_postre, .titulo_menu{
  font-size:2rem;
  font-family:'Pacifico', cursive;
  text-align: center;
  padding-bottom: 50px;
  color: black;
  text-decoration: underline;
  margin: 4%;
}
.card-body,  .paragraft-container{
  font-family: 'Pacifico', cursive;
}

.footer{
  border-top: black solid 10px;
}

.whats-app {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 3px 4px 3px #999;
  left: 15px;
  z-index: 100;
}

.my-float {
  margin-top: 10px;
}

@import"partials/404";