.header{
    background-image: url("../img/comida\ encabezado.jpg");
    padding:2%;
    
    .navegador h1{
        color: antiquewhite;
        font-size: 3rem;
        text-align: center;
        font-family: 'Lobster', cursive; 
    }

    .menu{

        display: flex;
        justify-content: space-around;
        list-style: none;
        margin:30px 50px;

        ul{
            position: absolute;
            display: none;
        }
        li{
            &:hover ul{
                display: block;
            }
        }

        ul li{
            display: block;

           
        }

        .menu-lista{

            a{
                list-style: none;
                text-decoration: none;
                color:black;
                font-size:1.5rem;
                font-family: 'Anton', sans-serif;

            }

        }


    }


}