.header{
    padding: 0;

    .navbar-brand{
        color: antiquewhite;
         font-size: 1.5rem;
         text-align: center;
        font-family: 'Lobster', cursive;
    }

    .nav-item a{
        font-family: 'Bona Nova', serif;
        font-size: 1.0rem;

        }
}