.nuestra_historia, .nuestro_compromiso{
 font-size: 2.0rem;
 font-family: "Pacifico", cursive;

  
}   
.contenido_nuestra_historia, .contenido_nuestro_compromiso{
font-size: 1.5rem;
font-family: "Pacifico", cursive;

}